*{
    margin: 0;
    padding: 0;
    font-family: 'Nova Round', sans-serif;
}
.nav{
    background-color: #5995DA;
    height: 40px;
}
.header{
    background-color: #B2D6FF;
    height: 200px;
    color: #555;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: 100%;
}
.content{
    background-color: #EAEDF0;
    height: 300px;
    color: #555;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: 100%;
}
.signin{
    background-color: #D6E9FE;
    height: 100px;
    color: #555;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: 100%;
}
.feature{
    width: 33.33%;
    height: 300px;
    color: #555;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}
.f1{
    background-color: #F5CF8E;
}
.f2{
    background-color: #C8C6FA;
}
.f3{
    background-color: #F09A9D;
}
.desktop{
    display: flex;
}
.tablet{
    display: none;
}
.mobile{
    display: none;
}

@media only screen and (max-width: 500px) {
    .feature{
        width: 100%;
        height: 120px;
    }
    .signin{
        height: 120px;
        width: 100%;
    }
    .header{
        height: 120px;
        width: 100%;
    }
    .content{
        width: 100%;
    }
    .f3{
        background-color: #C8C6FA;
    }
    .f2{
        background-color: #F09A9D;
    }
    .desktop{
        display: none;
    }
    .tablet{
        display: none;
    }
    .mobile{
        display: flex;
    }
}

@media only screen and (max-width: 900px) and (min-width: 501px){
    .feature{
        width: 50%;
        height: 200px;
    }
    .signin{
        height: 200px;
        width: 50%;
    }
    .header{
        height: 120px;
        width: 100%;
    }
    .content{
        height: 380px;
        width: 100%;
    }
    .f3{
        background-color: #C8C6FA;
    }
    .f2{
        background-color: #F09A9D;
    }
    .desktop{
        display: none;
    }
    .tablet{
        display: flex;
    }
    .mobile{
        display: none;
    }
}